[submodule "Implementation/AerisGo_Backend"]
	path = Implementation/AerisGo_Backend
	url = https://github.com/maantrambadia/aerisgo-backend.git
[submodule "Implementation/AerisGo_Dashboard"]
	path = Implementation/AerisGo_Dashboard
	url = https://github.com/maantrambadia/aerisgo-dashboard.git
[submodule "Implementation/AerisGo_Web"]
	path = Implementation/AerisGo_Web
	url = https://github.com/maantrambadia/aerisgo-web.git
