[submodule "backend"]
	path = backend
	url = https://github.com/maantrambadia/aerisgo-backend.git
[submodule "dashboard"]
	path = dashboard
	url = https://github.com/maantrambadia/aerisgo-dashboard.git
