[submodule "backend"]
	path = backend
	url = https://github.com/maantrambadia/aerisgo-backend.git
[submodule "dashboard"]
	path = dashboard
	url = https://github.com/maantrambadia/aerisgo-dashboard.git
[submodule "web"]
	path = web
	url = https://github.com/maantrambadia/aerisgo-web.git
